*{
	margin: 0;padding: 0;box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav-link {
  transition: 0.3s ease;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 0;
  margin: 0 20px;
}
.nav-link:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}

.carousel-inner img{
	width: 100%;
	height: 95vh;
  height: calc(var(--vh, 1vh) * 100);
}

.navbar{
  padding: 0;
  width: 80%;
  margin: auto;
  background-color: #ffa000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

header {
    height:180vh;
    min-height:400px;
    background-size:cover;
    background-image:url('https://images.unsplash.com/photo-1470434151738-dc5f4474c239?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb');
}

.hidden-spacer {
    height: 56px
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

footer {
    height: auto;
    background: linear-gradient(to top, #ffcc00 0%, #ff9900 100%);
}
